<?xml version="1.0" encoding="utf-8"?>
<!-- Config -->
<!-- Author: user -->
<!-- DateCreated: 2/9/2018 3:28:10 PM -->
<GameInfo>

	<!-- Base Game -->
	<Players>
											<Row CivilizationType="CIVILIZATION_RUSSIA" LeaderType="LEADER_GEDEMO_CATHERINE2" Portrait="LEADER_CATHERINE2_NEUTRAL.dds"  CivilizationName="LOC_CIVILIZATION_RUSSIA_NAME" CivilizationIcon="ICON_CIVILIZATION_RUSSIA" LeaderName="LOC_LEADER_GEDEMO_CATHERINE2" LeaderIcon="ICON_LEADER_GEDEMO_CATHERINE2" CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_MOTHER_RUSSIA_NAME" CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_MOTHER_RUSSIA_DESCRIPTION" CivilizationAbilityIcon="ICON_CIVILIZATION_RUSSIA" LeaderAbilityName="LOC_TRAIT_LEADER_GEDEMO_CATHERINE2_NAME" LeaderAbilityDescription="LOC_TRAIT_LEADER_GEDEMO_CATHERINE2_DESCRIPTION" LeaderAbilityIcon="ICON_LEADER_GEDEMO_CATHERINE2" PortraitBackground="LEADER_T_ROOSEVELT_BACKGROUND"/>

		<!-- Expansion 1 Support -->
		<Row Domain="Players:Expansion1_Players" CivilizationType="CIVILIZATION_RUSSIA" LeaderType="LEADER_GEDEMO_CATHERINE2" Portrait="LEADER_CATHERINE2_NEUTRAL.dds" CivilizationName="LOC_CIVILIZATION_RUSSIA_NAME" CivilizationIcon="ICON_CIVILIZATION_RUSSIA" LeaderName="LOC_LEADER_GEDEMO_CATHERINE2" LeaderIcon="ICON_LEADER_GEDEMO_CATHERINE2" CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_MOTHER_RUSSIA_NAME" CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_MOTHER_RUSSIA_DESCRIPTION" CivilizationAbilityIcon="ICON_CIVILIZATION_RUSSIA" LeaderAbilityName="LOC_TRAIT_LEADER_GEDEMO_CATHERINE2_NAME" LeaderAbilityDescription="LOC_TRAIT_LEADER_GEDEMO_CATHERINE2_DESCRIPTION" LeaderAbilityIcon="ICON_LEADER_GEDEMO_CATHERINE2" PortraitBackground="LEADER_T_ROOSEVELT_BACKGROUND"/>

		<!-- Expansion 2 Support -->
		<Row Domain="Players:Expansion2_Players" CivilizationType="CIVILIZATION_RUSSIA" LeaderType="LEADER_GEDEMO_CATHERINE2" Portrait="LEADER_CATHERINE2_NEUTRAL.dds" CivilizationName="LOC_CIVILIZATION_RUSSIA_NAME" CivilizationIcon="ICON_CIVILIZATION_RUSSIA" LeaderName="LOC_LEADER_GEDEMO_CATHERINE2" LeaderIcon="ICON_LEADER_GEDEMO_CATHERINE2" CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_MOTHER_RUSSIA_NAME" CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_MOTHER_RUSSIA_EXPANSION2_DESCRIPTION" CivilizationAbilityIcon="ICON_CIVILIZATION_RUSSIA" LeaderAbilityName="LOC_TRAIT_LEADER_GEDEMO_CATHERINE2_NAME" LeaderAbilityDescription="LOC_TRAIT_LEADER_GEDEMO_CATHERINE2_DESCRIPTION" LeaderAbilityIcon="ICON_LEADER_GEDEMO_CATHERINE2" PortraitBackground="LEADER_T_ROOSEVELT_BACKGROUND"/>
	</Players>

	


	<PlayerItems>
		<Row CivilizationType="CIVILIZATION_RUSSIA" LeaderType="LEADER_GEDEMO_CATHERINE2" Type="UNIT_RUSSIAN_COSSACK" Icon="ICON_UNIT_RUSSIAN_COSSACK" Name="LOC_UNIT_RUSSIAN_COSSACK_NAME" Description="LOC_UNIT_RUSSIAN_COSSACK_DESCRIPTION" SortIndex="20"/>
		
		<Row CivilizationType="CIVILIZATION_RUSSIA" LeaderType="LEADER_GEDEMO_CATHERINE2" Type="DISTRICT_LAVRA" Icon="ICON_DISTRICT_LAVRA" Name="LOC_DISTRICT_LAVRA_NAME" Description="LOC_DISTRICT_LAVRA_DESCRIPTION" SortIndex="30"/>
		

		<!-- Expansion 1 Support -->
		<Row Domain="Players:Expansion1_Players" CivilizationType="CIVILIZATION_RUSSIA" LeaderType="LEADER_GEDEMO_CATHERINE2" Type="UNIT_RUSSIAN_COSSACK" Icon="ICON_UNIT_RUSSIAN_COSSACK" Name="LOC_UNIT_RUSSIAN_COSSACK_NAME" Description="LOC_UNIT_RUSSIAN_COSSACK_DESCRIPTION" SortIndex="20"/>
		
		<Row Domain="Players:Expansion1_Players" CivilizationType="CIVILIZATION_RUSSIA" LeaderType="LEADER_GEDEMO_CATHERINE2" Type="DISTRICT_LAVRA" Icon="ICON_DISTRICT_LAVRA" Name="LOC_DISTRICT_LAVRA_NAME" Description="LOC_DISTRICT_LAVRA_DESCRIPTION" SortIndex="30"/>

		<!-- Expansion 2 Support -->
		<Row Domain="Players:Expansion2_Players" CivilizationType="CIVILIZATION_RUSSIA" LeaderType="LEADER_GEDEMO_CATHERINE2" Type="UNIT_RUSSIAN_COSSACK" Icon="ICON_UNIT_RUSSIAN_COSSACK" Name="LOC_UNIT_RUSSIAN_COSSACK_NAME" Description="LOC_UNIT_RUSSIAN_COSSACK_DESCRIPTION" SortIndex="20"/>

		<Row Domain="Players:Expansion2_Players" CivilizationType="CIVILIZATION_RUSSIA" LeaderType="LEADER_GEDEMO_CATHERINE2" Type="DISTRICT_LAVRA" Icon="ICON_DISTRICT_LAVRA" Name="LOC_DISTRICT_LAVRA_NAME" Description="LOC_DISTRICT_LAVRA_DESCRIPTION" SortIndex="30"/>
		
	</PlayerItems>

	
	
	
	
</GameInfo>
