<?xml version="1.0" encoding="utf-8"?>
<!-- Config -->
<!-- Author: user -->
<!-- DateCreated: 2/9/2018 3:28:10 PM -->
<GameInfo>

	<!-- Base Game -->
	<Players>
											<Row CivilizationType="CIVILIZATION_GERMANY" LeaderType="LEADER_GEDEMO_BISMARK" Portrait="LEADER_BISMARK_NEUTRAL.dds"  CivilizationName="LOC_CIVILIZATION_GERMANY_NAME" CivilizationIcon="ICON_CIVILIZATION_GERMANY" LeaderName="LOC_LEADER_GEDEMO_BISMARK" LeaderIcon="ICON_LEADER_GEDEMO_BISMARK" CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_IMPERIAL_FREE_CITIES_NAME" CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_IMPERIAL_FREE_CITIES_DESCRIPTION" CivilizationAbilityIcon="ICON_CIVILIZATION_GERMANY" LeaderAbilityName="LOC_TRAIT_LEADER_GEDEMO_BISMARK_NAME" LeaderAbilityDescription="LOC_TRAIT_LEADER_GEDEMO_BISMARK_DESCRIPTION" LeaderAbilityIcon="ICON_LEADER_GEDEMO_BISMARK" PortraitBackground="LEADER_T_ROOSEVELT_BACKGROUND"/>

		<!-- Expansion 1 Support -->
		<Row Domain="Players:Expansion1_Players" CivilizationType="CIVILIZATION_GERMANY" LeaderType="LEADER_GEDEMO_BISMARK" Portrait="LEADER_BISMARK_NEUTRAL.dds" CivilizationName="LOC_CIVILIZATION_GERMANY_NAME" CivilizationIcon="ICON_CIVILIZATION_GERMANY" LeaderName="LOC_LEADER_GEDEMO_BISMARK" LeaderIcon="ICON_LEADER_GEDEMO_BISMARK" CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_IMPERIAL_FREE_CITIES_NAME" CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_IMPERIAL_FREE_CITIES_DESCRIPTION" CivilizationAbilityIcon="ICON_CIVILIZATION_GERMANY" LeaderAbilityName="LOC_TRAIT_LEADER_GEDEMO_BISMARK_NAME" LeaderAbilityDescription="LOC_TRAIT_LEADER_GEDEMO_BISMARK_DESCRIPTION" LeaderAbilityIcon="ICON_LEADER_GEDEMO_BISMARK" PortraitBackground="LEADER_T_ROOSEVELT_BACKGROUND"/>

		<!-- Expansion 2 Support -->
		<Row Domain="Players:Expansion2_Players" CivilizationType="CIVILIZATION_GERMANY" LeaderType="LEADER_GEDEMO_BISMARK" Portrait="LEADER_BISMARK_NEUTRAL.dds" CivilizationName="LOC_CIVILIZATION_GERMANY_NAME" CivilizationIcon="ICON_CIVILIZATION_GERMANY" LeaderName="LOC_LEADER_GEDEMO_BISMARK" LeaderIcon="ICON_LEADER_GEDEMO_BISMARK" CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_IMPERIAL_FREE_CITIES_NAME" CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_IMPERIAL_FREE_CITIES_DESCRIPTION" CivilizationAbilityIcon="ICON_CIVILIZATION_GERMANY" LeaderAbilityName="LOC_TRAIT_LEADER_GEDEMO_BISMARK_NAME" LeaderAbilityDescription="LOC_TRAIT_LEADER_GEDEMO_BISMARK_DESCRIPTION" LeaderAbilityIcon="ICON_LEADER_GEDEMO_BISMARK" PortraitBackground="LEADER_T_ROOSEVELT_BACKGROUND"/>
	</Players>

	


	<PlayerItems>
		<Row CivilizationType="CIVILIZATION_GERMANY" LeaderType="LEADER_GEDEMO_BISMARK" Type="UNIT_GERMAN_UBOAT" Icon="ICON_UNIT_GERMAN_UBOAT" Name="LOC_UNIT_GERMAN_UBOAT_NAME" Description="LOC_UNIT_GERMAN_UBOAT_DESCRIPTION" SortIndex="20"/>
		
		<Row CivilizationType="CIVILIZATION_GERMANY" LeaderType="LEADER_GEDEMO_BISMARK" Type="DISTRICT_HANSA" Icon="ICON_DISTRICT_HANSA" Name="LOC_DISTRICT_HANSA_NAME" Description="LOC_DISTRICT_HANSA_DESCRIPTION" SortIndex="30"/>
		

		<!-- Expansion 1 Support -->
		<Row Domain="Players:Expansion1_Players" CivilizationType="CIVILIZATION_GERMANY" LeaderType="LEADER_GEDEMO_BISMARK" Type="UNIT_GERMAN_UBOAT" Icon="ICON_UNIT_GERMAN_UBOAT" Name="LOC_UNIT_GERMAN_UBOAT_NAME" Description="LOC_UNIT_GERMAN_UBOAT_DESCRIPTION" SortIndex="20"/>
		
		<Row Domain="Players:Expansion1_Players" CivilizationType="CIVILIZATION_GERMANY" LeaderType="LEADER_GEDEMO_BISMARK" Type="DISTRICT_HANSA" Icon="ICON_DISTRICT_HANSA" Name="LOC_DISTRICT_HANSA_NAME" Description="LOC_DISTRICT_HANSA_DESCRIPTION" SortIndex="30"/>

		<!-- Expansion 2 Support -->
		<Row Domain="Players:Expansion2_Players" CivilizationType="CIVILIZATION_GERMANY" LeaderType="LEADER_GEDEMO_BISMARK" Type="UNIT_GERMAN_UBOAT" Icon="ICON_UNIT_GERMAN_UBOAT" Name="LOC_UNIT_GERMAN_UBOAT_NAME" Description="LOC_UNIT_GERMAN_UBOAT_DESCRIPTION" SortIndex="20"/>

		<Row Domain="Players:Expansion2_Players" CivilizationType="CIVILIZATION_GERMANY" LeaderType="LEADER_GEDEMO_BISMARK" Type="DISTRICT_HANSA" Icon="ICON_DISTRICT_HANSA" Name="LOC_DISTRICT_HANSA_NAME" Description="LOC_DISTRICT_HANSA_EXPANSION2_DESCRIPTION" SortIndex="30"/>
		
	</PlayerItems>

	
	
	
	
</GameInfo>
